
.container-fluid {
  margin: 0;
  padding: 0
  /* position: static; */
}

img {
    width: 100%;  
    height: auto;  
  }


h1 {
  font-family: 'Caveat Brush', cursive;
  font-size: 1.81em;
  color: rgb(36, 34, 34);
  text-transform: uppercase;
  text-align: center;
  line-height: 1.6;
  letter-spacing: 2.1 px;
  position: relative;
  max-width: 850px;
  min-width: 300px;
  margin: 54px 54px;
  margin-left: auto;
  margin-right: auto;
  border: none
}

h2 {
  font-family: 'Caveat Brush', cursive;
  font-size: 1.25em;
  color: rgb(36, 34, 34);
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2.5px;
}

.herobox1{
  z-index: 20;
 padding-bottom: 20px;
}

.herobox2 {
margin-bottom: 54px;
}


.mantras {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: flex-start;
  min-height: 300px;
  margin-left: 50px;
  margin-right: 50px;
}



.mbox {
  padding-left: 50px;
  padding-right: 50px;

}



.icons {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-bottom: 20px;
}


  /* tablet view */
  @media (max-width: 768px) {
    .mantras, .mbox {grid-template-columns: 
      1fr 1fr;
      padding-left: 20px;
      padding-right: 20px;
    }
    }
    
  /* mobile view */
  @media (max-width: 420px) {
    .mantras {grid-template-columns: 
      1fr; }
    }

    p {
      font-size: 0.95em;
      color: rgb(185, 177, 177);
      text-align: center;
      line-height: 1.8;
      padding-bottom: 20px;
    }

